extends layout

block content
  h1 #{siteTitle}
  p Here's what I've been up to...
  for post in posts
    span#postDate #{post.postDate}
    span#postTitle
      a(href='posts/#{post.postSlug}')  #{post.postName}
      br/
      br/