body {
	padding-left: 50px;
	padding-right: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}

.pagetitle{
	padding-bottom: 25px;
}

.markdowntext{
	width: 600px; 
	height: 300px
}

p {
	font-size: 16px;
	line-height: 26px;
	font-family: 'PT Serif', serif;
	color: #666666;
}

#newerEnt{
	padding-left: 25px;
}
#olderEnt{
	padding-left:25px;
}
#more{
	padding-left:25px;
}